*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    overflow: hidden;
    font: normal 14px Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    background-image: url("https://p2.music.126.net/2YIpNoCzXfYgz4zIw3s0Vg==/73667279073787.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* .container {
    position: relative;
    width: 80vw;
    height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;  
} */
.box {
    position: relative;
    width: 80vw;
    height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;  
}
/* .box::before {
    content: "";
    width: 80vw;
    height: 80vw;
    width: calc(100%+1.25rem);
    height: calc(100%+1.25rem); 
    background: inherit;
    background-image: url("https://p2.music.126.net/2YIpNoCzXfYgz4zIw3s0Vg==/73667279073787.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: insert 0 0 0 12.5rem rgba(200,250,250,0.25);
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    filter: blur(6px);
    overflow: hidden;
} */
#player {
    position: fixed;
    top:70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 65%;
    min-width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
   /*  box-shadow: -14px 14px 28px #a2b0a9, 
    14px -14px 28px #dceee5;
    box-shadow: 1px 3px rgba(0,0,0,.3); */
}
.search {
    position: relative;
    width: 100%;
    height: 60px;
     /* background-color: #dfdddd; */
    background-color: #242424;
}
.search span {
    margin-left: 50px;
    line-height: 50px;
    font-size: 30px;
    color: white; 
}
.search input {
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    /* transform: translateX(-200px); */
    transform: translateY(-50%);
    padding-left: 20px;
    border: none; 
    outline: none;

}
.search button {
    border-radius: 10px;
    color: white;

}
.main {
    display: flex;
    overflow: hidden;
    height: 400px;
    /* padding-top: 10px; */
    background-color: lightgray;
    overflow: hidden;
     border-radius: 10px;
}
.main .left {
    /* flex: 2; */
    width: 30%;
    padding-top: 10px;
    /* color: #ddd; */
    overflow: hidden;
    border-radius: 10px;

    /* overflow-y: scroll; */
}
.main .left li {
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    text-overflow: ellipsis;
}
.main .left li:nth-child(2n) {
    background-color: rgba(1,1,1,0.2);
}
.main .left li:nth-child(2n-1) {
    background-color: rgba(0,0,0,0.1);
}
.main .left li:hover {
    cursor: pointer;
}
.main .center {
    width: 30%;
    margin: auto 10px;
}
.main .center img {
    width: 100%;
    border-radius: 10px;

}
.main .right {
    /* flex: 3; */
    /* width:300px;
    width: 30%; */
    width: 40%;
    overflow-y: scroll;
    
}
.right h3 {
    margin-top: 10px;
    padding-left: 10px;
}
.main .right li {
    margin: 10px;
    /* padding-left: 20px; */
    font-size: 14px;
}
footer audio {
    height: 40px;
    width: 100%;
    margin: 0;
    outline: none;
    color: gray;
}
