<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐</title>
    <!-- 引入图标 -->
    <!-- <link rel="shortcut icon" type="text/css" href="http://ganto.xyz/images/favicon.ico"> -->

    <!-- 引入bootstrap -->
     <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/main.css">

</head> 
<body>
    <div class="container">
        <!-- 播放器主体区域 -->
        <div class="box">
            <div id="player" >
            <!-- 搜索条 -->
            <div class="search">
                <span>music</span>
                <input  v-model="search" type="text" @keyup.enter="searchMusic" 
                        placeholder="请输入歌名/歌手名...">
                <!-- <button @click="searchMusic">搜索</button> -->
            </div>
            <!-- 中间主体 -->
            <div class="main"  >
                <!-- 左边 歌曲项 -->
                <div class="left">
                    <ul>
                        <li v-for="(i,index) in msg" :key=index>
                            <span @click="playMusic(i.id)">
                                <!-- 图标&nbsp;&nbsp;&nbsp; -->
                                <strong>{{i.name}}--{{i.artists[0].name}}</strong>
                                <!-- &nbsp;&nbsp;&nbsp;MV -->
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- 中间 图片 -->
                <div class="center">
                    <!-- 冒号不能忘记啊！！！！ v-bind操作属性 -->
                    <img :src="imgUrl" alt="">
                </div>
                <!-- 右边 热评 -->
                <div class="right">
                    <h3>热门评论</h3>
                <ul>
                    <li v-for="(i,index) in hotComments" :key=index>{{index+1}}::{{i.content}}</li>
                </ul>
                </div>
            </div>

            <!-- 下方播放条 -->
            <footer>
                <!-- 冒号不能忘记啊！！！！ v-bind操作属性   -->
                <audio :src="audioUrl" controls autoplay loop  ></audio>
            </footer>
            </div>
        </div>
    </div>
    
    

    
    

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- 官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>



</body>
</html>